<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div class="container">
    <h2 class="form-signin-heading">Login with OAuth 2.0</h2><table class="table table-striped">
    <tbody><tr><td><a href="/oauth2/authorization/messaging-client-auth-code">messaging-client-auth-code</a></td></tr>
    <tr><td><a href="/oauth2/authorization/messaging-client-client-creds">messaging-client-client-creds</a></td></tr>
    <tr><td><a href="/oauth2/authorization/messaging-client-password">messaging-client-password</a></td></tr>
    </tbody></table>
</div>
</body>
</html>